    #Box {
        width: 200px;
        height: 200px;
        background-color: rgb(197, 22, 22);
        border-width: 5px;
        border-style: solid;
        border-radius: 30%;
    }
    
    .nav-icon {
        width: 200px;
        height: 200px;
        cursor: pointer;
        border-radius: 30%;
    }
    
    .navbar {
        display: flex;
        gap: 60px;
        padding: 10px;
        background-color: #d17575;
        justify-content: center;
    }
    
    #home {
        font-size: 20px;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #About {
        font-size: 20px;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #Values {
        font-size: 20px;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }